body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #f4f9ff, #ffffff);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #4a90e2;
    color: white;
}
header h1 {
    margin: 0;
}

/* สวนพยาบาลเด้อ hero คือพยาบาล */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
}

.start-btn {
    background-color: #2ecc71;
    color: white;
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.start-btn:hover {
    background-color: #27ae60;
}


.hero-img img {
    width: 350px;
    border-radius: 20px;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.card {
    background: white;
    width: 220px;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    font-size: 16px;
}

/* FOOTER */
footer {
    background-color: #eef3fb;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/*ส่วนวิธีใช้งานนนนนนนน*/
.guide {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.step {
  margin-bottom: 25px;
}

.step h3 {
  margin-bottom: 10px;
}

.step ul {
  text-align: left;
  margin-left: 20px;
}

.note {
  background: #fff3cd;
  padding: 15px;
  border-radius: 5px;
}

/*ส่วนช้แจงครับอ้าย*/
.notice {
  background: #fff3cd;
  padding: 12px;
  border-radius: 5px;
  margin-top: 20px;
}

/* ===== Calibration Layout ===== */
#calibration {
  text-align: center;
  padding: 20px;
}

/* กรอบบัตรประชาชน */
#card {
  width: 85.6mm;
  height: 53.98mm;
  border: 2px solid #000;
  margin: 20px auto;
  transform-origin: center;
}

/* แถบเลื่อน */
input[type="range"] {
  width: 90%;
  max-width: 400px;
  padding: 8px;
  font-size: 16px;
}

/* ปุ่ม */
button {
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 10px;
}

/*ข้อมูลเฟิร์ส-แตงโม*/
.contact {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

/* กล่องรวม */
.contact-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap; /* รองรับมือถือ */
  margin-top: 20px;
}

/* การ์ดแต่ละคน */
.contact-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
